@use "@/styles/common" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans SC', 'Noto Sans CJK SC', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

a {
  @include link;
}

// comment the following lines to solve the problem with some svg images which are displayed incorrect in dark mode
/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
