@use "@/styles/common" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --color-bg-body: #fafafa;
  --color-bg-header: rgba(255, 255, 255, 0.75);
  --color-bg-footer: #efefef;
  --color-bg-card: #ffffff;
  --color-border-card: #f0f0f0;
}

[data-theme="dark"] {
  --color-bg-body: #141414;
  --color-bg-header: rgba(31, 31, 31, 0.75);
  --color-bg-footer: #1f1f1f;
  --color-bg-card: #1f1f1f;
  --color-border-card: #303030;
}

body {
  background-color: var(--color-bg-body);
}

a {
  @include link;
}

