@import "src/styles/common"

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  margin: 0 auto
  min-height: 100vh
  background-color: #FAFAFA

.main
  @include page
  padding: 32px 16px
  //@include on-mobile()
  //  padding: 24px

.skill
  margin-top: 64px

