@use "@/styles/common" as *


.container
  width: 100%
  background-color: #EFEFEF

.content
  @include page
  padding: 32px
  //text-align: center
  color: $color-font-2
  font-size: 14px
  p
    margin-bottom: 4px

//.copyright

.nerd_info
  margin-top: 8px
  &_github
    display: flex
    flex-wrap: wrap
    a
      line-height: 20px
    img
      margin-left: 4px

.powered_by
  &_list
    display: flex
    align-items: center
  &_item
    display: flex
    align-items: center

.logo
  @include radius()
  @include transition()
  padding: 4px 8px
  border: 1px solid rgba($color-gray-3, 0)
  &:hover
    border: 1px solid $color-gray-3

@media (prefers-color-scheme: dark)
  .logo_img
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70)
