@use "@/styles/common" as *

//.container

.title
  font-size: 24px
  font-weight: 500
  margin-bottom: 16px

.category
  &_name
    @include no-warp
    margin-bottom: 8px
    font-size: 16px
    color: $color-font-2
  &_skills
    &_item
      @include transition()
      @include border()
      @include radius(8px)
      border-color: rgba($color-gray-3, 0)
      padding: 4px
      &:hover
        @include box-shadow-2
        border-color: rgba($color-gray-3, 1)
        background-color: #FFFFFF
        transform: scale(1.5)
