@use "@/styles/common" as *

//.container

.title
  @include title_0

.category
  &_name
    @include title_1
  &_skills
    &_item
      @include transition()
      @include border()
      @include radius(8px)
      @include flex()
      border-color: rgba($color-gray-3, 0)
      padding: 4px
      &:hover
        @include box-shadow-2
        border-color: rgba($color-gray-3, 1)
        background-color: #FFFFFF
        transform: scale(1.5)
